.footer-section{
    text-align: left;
    background-color: #2a303b;
}

.icon{
    font-size: 1rem;
    transition: 0.5s;
}
.icon:hover{
    color: orangered;
    /* color: #ecad25; */
    cursor: pointer;
}

.custom-color{
    color: #ecad25;
}

.button{
    background-color: #ecad25;
    color: #fff;
    transition: 0.5s;
}

.button:hover{
    background-color: #fff;
    color: #ecad25;
}